@import "../Style/color";

.waterCoolerList {
  .waterCoolerList--link {
    color: $Blue;
  }
  .waterCoolerList--list {
    background-color: menu;
    color: rgba(0, 0, 0, 0.836);
  &:hover {
    background-color: white;
    color: $Blue;
  }
}
.waterCoolerList--create{
    color: gray;
    margin-bottom: -1rem;
    &:hover{
        color: $Blue;
    }
}
.news--btn{
  font-size: 10px;
  background-color: $Blue;
  border-radius: 20%;
}
}


