@import "./color";

.btnDecoration{
    color: $Blue;
    border: 1px solid $Blue;
    text-transform: capitalize;
    &:hover {
      background-color: $Blue;
      color: white;
      text-decoration: underline;
    }
}


.hover{
  color: $Blue;
  background-color: rgba(0, 0, 255, 0.055);
  border-radius: 3px;
}