@import "../Style//color";

.header {
  background-color: white;
  .header--navbar {
    padding: 0 8rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.719);
  }
  .header--btn {
    color: $Blue;
    border: 1px solid $Blue;
    text-transform: capitalize;
    &:hover {
      background-color: $Blue;
      color: white;
      text-decoration: underline;
    }
  }
}
